body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 5% 0;
    /* grid-template-rows: 50px 50px 50px; */
}

#title{
    border: 1px solid black;
    grid-column-start: span 3;
    text-align: center;
}

.input-wrap{
    text-align: center;
    border: 1px solid black;
    height: 100px;
}

#search-wrap{
    grid-column-start: span 3;
    text-align: center;
}

#body-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 25px;
}

.news-article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25%;
    border: 1px solid black;    
    width: 85%;
    height: 40vh;
    grid-column-start: span 3;
    grid-column-gap: 15px;
    align-items: center;
}

.news-article img{
    grid-column-start: 1;
    grid-row-start: 2;
    height: 85%;
    width: auto;
    margin: 5px;
}

.news-article h3{
    grid-row-start: 1;
    grid-column-start: span 3;
    margin: 15px 5px 5px 5px;
}

.news-article p{
    grid-column-start: 2;
    grid-column-end: 4;
}
